<p style="color: green"><%= notice %></p>

<h1>Problem entries</h1>

<div id="problem_entries">
  <% @problem_entries.each do |problem_entry| %>
    <%= render problem_entry %>
    <p>
      <%= link_to "Show this problem entry", problem_entry %>
    </p>
  <% end %>
</div>

<%= link_to "New problem entry", new_problem_entry_path %>
